@model List<rlhTest.Models.package_master>

@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/_home.cshtml";
}
<div>
<div class="container border">
    <div class="container text-center border">
        <h2>
            Here Dream become Real In A Second
        </h2>
    </div>
    <div class="row" style="padding: 1rem">
        <div class="col-sm-6">
            Plan Your Tour
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Search" style="border-right: none">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-sm" type="button" style="background-color: transparent; border: 1px solid #CED4DA; border-left: none;">
                        <img src="assets\style\img\search.png" style="height: 0.8rem; width: 0.8rem">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <select class="form-control form-control-sm ">
                <option>OPTION 1</option>
                <option>OPTION 2</option>
                <option>OPTION 3</option>
                <option>OPTION 4</option>
                <option>OPTION 5</option>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4 " style="padding: 0; border-top: 0.1rem solid #DEE2E6; ">
            <div class="mt-3" style="padding-left: 15px; padding-right: 15px">
                <h6>Type Of Destination</h6>
                <form class="">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                        <br>
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                    </div>
                </form>
            </div>
            <hr style="border-top: 0.1rem solid #DEE2E6; ">

            <div style="padding-left: 15px; padding-right: 15px">
                <h6>Duration</h6>
                <form class="">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                        <br>
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                        <br>
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                        <br>
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                    </div>
                </form>
            </div>
            <hr style="border-top: 0.1rem solid #DEE2E6; ">

            <div style="padding-left: 15px; padding-right: 15px">
                <h6>Price (INR)</h6>
                <form action="">

                    <input type="range" class="custom-range" id="customRange" name="points1">
                </form>
            </div>

            <hr style="border-top: 0.1rem solid #DEE2E6; ">

            <div style="padding-left: 15px; padding-right: 15px">
                <h6>Hotel Rating</h6>
                <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>
            </div>

            <hr style="border-top: 0.1rem solid #DEE2E6; ">

            <div class="mb-3" style="padding-left: 15px; padding-right: 15px">
                <h6>Inclusion</h6>
                <form class="">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                        <br>
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                        <br>
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                        <br>
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">checkbox</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-8 border">
            <div class="row mt-3 mb-3">
                
                @for (int i = 0; i < Model.Count(); i += 2)
                {
                    <div class="col-sm-6">
                        @Html.Partial("packageView",Model.ElementAt(i))
                    </div>
                    <div class="col-sm-6">
                       @Html.Partial("packageView",Model.ElementAt(++i))
                    </div>
                }
            </div>
        </div>
    </div>
</div>
	</div>


